#nav1{
	background-color: #F8FF14;
	color: #000000;
	font-weight: 700;
}
h1{
	text-align: center;
}

#banner{
	background-color: black;
	color: white;
}

#benefit{
	text-align: center;
	color: blue;
}
